Localization
{
    ru
    {
		// Neidon
		#LOC_OPX-NP_Neidon_Name = Нейдон^N
        #LOC_OPX-NP_Neidon_Desc = Из-за удаленности от Кербина только недавно Кербалечество обнаружило самую далекую планету системы Кербол. Сначала ученые думали, что Нейдон может быть фиолетовой каменистой планетой, как Ева, но быстро поняли, что на самом деле смотрят на ледяного гиганта, похожего на Урлум.
        #LOC_OPX-NP_Neidon_Biome_EZ = экваториальная зона^f
		#LOC_OPX-NP_Neidon_Biome_STrZ = южная тропическая зона^f
		#LOC_OPX-NP_Neidon_Biome_ET = экваториальная турбулентность^f
		#LOC_OPX-NP_Neidon_Biome_NTrZ = северная тропическая зона^f
		// #LOC_OPX-NP_Neidon_Biome_STeB = южный умеренный пояс^m - the biome is also commented out (!)
		#LOC_OPX-NP_Neidon_Biome_STeZ = южная умеренная зона^f
		#LOC_OPX-NP_Neidon_Biome_SPB = южный полярный пояс^m
		#LOC_OPX-NP_Neidon_Biome_SP = южный полюс^m
		#LOC_OPX-NP_Neidon_Biome_GDS = великое тёмное пятно^n
		#LOC_OPX-NP_Neidon_Biome_NPB = северный полярный пояс^m
		#LOC_OPX-NP_Neidon_Biome_NTeZ = северная умеренная зона^f
		#LOC_OPX-NP_Neidon_Biome_NP = северный полюс^m
		#LOC_OPX-NP_Neidon_Biome_PP = полярный пятиугольник^m
		
		// Nito
		#LOC_OPX-NP_Nito_Name = Нито^m
		#LOC_OPX-NP_Nito_Desc = Нито — одна из самых маленьких лун, обнаруженных во всей системе, сидящая в кольцах Нейдона, хоть и в иной плоскости. Названный в честь одного из детей-близнецов Нейдона, он является самой близкой из лун планеты и, находясь в пределе Роша, остаётся стабильным лишь благодоря своей прочности.
		#LOC_OPX-NP_Nito_Biome_R = хребты^pm
		#LOC_OPX-NP_Nito_Biome_P = полюса^pm
		#LOC_OPX-NP_Nito_Biome_L = низины^pf
		#LOC_OPX-NP_Nito_Biome_M = равнины^pf
		#LOC_OPX-NP_Nito_Biome_H = высокогорье^n
		
		// Tito
		#LOC_OPX-NP_Tito_Name = Тито^f
		#LOC_OPX-NP_Tito_Desc = Тито — более умеренная сестра-близнец Нито. Орбита ближе к кольцам в ногу с Нито помогает ей сохранять устойчивость в долгосрочной перспективе, хотя она все еще немного покачивается, как буй. Не то чтобы с ней что-то не так — просто в целом она немного скучнее.
		#LOC_OPX-NP_Tito_Biome_ER = экваториальный хребет^m
		#LOC_OPX-NP_Tito_Biome_L = низины^pf
		#LOC_OPX-NP_Tito_Biome_M = равнины^pf
		#LOC_OPX-NP_Tito_Biome_H = высокогорье^n
		
		// Gryspar
		#LOC_OPX-NP_Gryspar_Name = Гриспар^M
		#LOC_OPX-NP_Gryspar_Desc = Гриспар — самая внутренняя крупная луна Нейдона для принятого определения слова «крупный». Ее орбита стабилизирована резонансом 3:2 с ее сестрой-луной Химерой, вращающейся чуть выше разреженной кольцевой системы планеты. Поверхность Гриспара темная и неровная, что не позволяет телескопам на Кербине узнать о ней много издалека.
		#LOC_OPX-NP_Gryspar_Biome_L = низины^pf
		#LOC_OPX-NP_Gryspar_Biome_M = равнины^pf
		#LOC_OPX-NP_Gryspar_Biome_H = высокогорье^n
		#LOC_OPX-NP_Gryspar_Biome_DC = кратер Дуэлл^m
		#LOC_OPX-NP_Gryspar_Biome_C = кратеры^pm
		
		// Hargaladh
		#LOC_OPX-NP_Hargaladh_Name = Харгалад^M
		#LOC_OPX-NP_Hargaladh_Desc = Несмотря на непонятное название, оно произносится, как пишется. И это единственное, что мы знаем об этой штуке.
		#LOC_OPX-NP_Hargaladh_Biome_A = амфитеатр^m
		#LOC_OPX-NP_Hargaladh_Biome_Pi = ямы^pf
		#LOC_OPX-NP_Hargaladh_Biome_Po = полюса^pm
		#LOC_OPX-NP_Hargaladh_Biome_S = поверхность^f
		
		// Chymere
		#LOC_OPX-NP_Chymere_Name = Химера^F
		#LOC_OPX-NP_Chymere_Desc = Химера — вторая по величине луна Нейдона, хотя ее открытие произошло совсем недавно, поскольку она была заглушена сиянием Нейдона и Тэтмо. Анализ кривой блеска показывает, что она нерегулярна, несмотря на свои огромные размеры — либо у нее на поверхности огромный кратер, либо она просто очень уродлива. По какой-то причине она стала предметом множества шуток, связанных с астрономией.
		#LOC_OPX-NP_Chymere_Biome_VC = кратер Вейдер^m
		#LOC_OPX-NP_Chymere_Biome_VCP = пик кратера Вейдер^m
		#LOC_OPX-NP_Chymere_Biome_VCR = край кратера Вейдер^m
		#LOC_OPX-NP_Chymere_Biome_VIS = ударная поверхность Вейдера^m
		#LOC_OPX-NP_Chymere_Biome_GTS = склоны большого желоба^pm
		#LOC_OPX-NP_Chymere_Biome_GT = большой желоб^m
		#LOC_OPX-NP_Chymere_Biome_CeP = центральное плато^n
		#LOC_OPX-NP_Chymere_Biome_VISR = край ударной поверхности Вейдера^m
		#LOC_OPX-NP_Chymere_Biome_GCP = большие круглые плато^pn
		#LOC_OPX-NP_Chymere_Biome_LT = малый желоб^m
		#LOC_OPX-NP_Chymere_Biome_L = низины^pf
		#LOC_OPX-NP_Chymere_Biome_M = равнины^pf
		#LOC_OPX-NP_Chymere_Biome_H = высокогорье^n
		
		// Thatmo
		#LOC_OPX-NP_Thatmo_Name = Тэтмо^N
        #LOC_OPX-NP_Thatmo_Desc = У этой ледяной луны была очень тонкая атмосфера, достаточно толстая, чтобы поддерживать аэродинамический полет. С тех пор это место номер один в списке желаний каждого смельчака. Да, и он вращается вокруг своей планеты в противоположном направлении, как и любая другая луна. Действительно, странная луна.
        #LOC_OPX-NP_Thatmo_Biome_Se = моря^pn
		#LOC_OPX-NP_Thatmo_Biome_Sh = берега^pm
		#LOC_OPX-NP_Thatmo_Biome_KPH = высокогорье равнины Кадаво^n
		#LOC_OPX-NP_Thatmo_Biome_KPL = низины равнины Кадаво^n
		#LOC_OPX-NP_Thatmo_Biome_DP = плато Датомира^n
		#LOC_OPX-NP_Thatmo_Biome_PP = равнины Пола^pf
		#LOC_OPX-NP_Thatmo_Biome_NF = северные поймы^pf
		#LOC_OPX-NP_Thatmo_Biome_H = высокогорье^n
		#LOC_OPX-NP_Thatmo_Biome_M = равнины^pf
		#LOC_OPX-NP_Thatmo_Biome_L = низины^pf
		
		// Nissee
		#LOC_OPX-NP_Nissee_Name = Нисси^N
        #LOC_OPX-NP_Nissee_Desc = Нисси — маленькая, но яркая луна на сильно наклоненной, вытянутой орбите вокруг Нейдона, и самая далекая известная луна до недавнего времени. Спектральный анализ показывает, что ее поверхность по составу похожа на мрамор, что делает ее не только загадкой среди лун, но и предметом зависти каждого скульптора на Кербине.
		#LOC_OPX-NP_Nissee_Biome_MC = Кратер Максимус 
        #LOC_OPX-NP_Nissee_Biome_CC = Кратеры-Компаньоны
        #LOC_OPX-NP_Nissee_Biome_AC = Древние Кратеры
        #LOC_OPX-NP_Nissee_Biome_YC = Молодые Кратеры
        #LOC_OPX-NP_Nissee_Biome_P = Полюса
        #LOC_OPX-NP_Nissee_Biome_VR = Регион Валериан
  
		// Nyla
		#LOC_OPX-NP_Nyla_Name = Нила^F
		#LOC_OPX-NP_Nyla_Desc = Вместе со своим компаньоном Псеем, Нила является самой удаленной орбитальной луной среди всех объектов в этой системе. Она вращается почти на таком же расстоянии, как Мохо от Солнца, удерживаясь только благодаря преобладанию гравитации Нейдона над Солничной. Орбита Нилы очень длинная, но ее низкое альбедо и небольшой размер означают, что это все, что мы можем о ней рассказать. Прилетайте и узнайте больше!
		#LOC_OPX-NP_Nyla_Biome_L = низины^pf
		#LOC_OPX-NP_Nyla_Biome_Mi = равнины^pf
		#LOC_OPX-NP_Nyla_Biome_H = высокогорье^n
		#LOC_OPX-NP_Nyla_Biome_Mo = горы^pf
		
		// Psei
		#LOC_OPX-NP_Psei_Name = Псей^m
		#LOC_OPX-NP_Psei_Desc = Псей — меньший спутник Нилы, хотя его гораздо более яркая поверхность, вероятно, привела к тому, что технически его обнаружили первым. Поверхность Псей также гораздо более неровная, чем у Нилы, так что будьте осторожны, если вы будете пролетать мимо.
		#LOC_OPX-NP_Psei_Biome_IC = ударные кратеры^pm
		#LOC_OPX-NP_Psei_Biome_L = низины^pf
		#LOC_OPX-NP_Psei_Biome_M = равнины^pf
		#LOC_OPX-NP_Psei_Biome_H = высокогорье^n
		#LOC_OPX-NP_Psei_Biome_EC = кратер Эктара^m
		
		// Surface biome of all pseudobodies
		#LOC_OPX-NP_Common_Biome_S = поверхность^f
		
		// Gawyn
		#LOC_OPX-NP_Gawyn_Name = I1-Гавин
		#LOC_OPX-NP_Gawyn_Desc = Эта штука, вероятно, груда обломков, и она вращается около Нито и Тито. Ну и что?
		
		// Nentha
		#LOC_OPX-NP_Nentha_Name = O1-Нента
		#LOC_OPX-NP_Nentha_Desc = Что это такое?<br> <br>Он-<br> <br>Он зеленый.

		// Paulo
		#LOC_OPX-NP_Paulo_Name = O2-Пауло
		#LOC_OPX-NP_Paulo_Desc = Это камень. Развлекайтесь. <i>Руководитель Каталога описаний кербалов с тех пор был уволен.</i>
		
		// Laman
		#LOC_OPX-NP_Laman_Name = O3-Ламан
		#LOC_OPX-NP_Laman_Desc = O3-Ламан — один из самых дальних спутников Нейдона, уступающий только двойной паре Нила/Псей. Он лениво блуждает по внешней системе Нейдона по медленной прямой орбите, совершая один оборот за несколько лет. Возможно, вы сможете посетить его по пути в систему!
		
		// Surface Sample
		#LOC_OPX-NP_SCI_Nito_Sample = Вы смотрите на образцы с помощью своего удобного карманного микроскопа и обнаруживаете, что они имеют форму маленьких бриллиантов.
		#LOC_OPX-NP_SCI_Tito_Sample = Вы снимаете тонкий слой реголита и обнаруживаете под ним твердую, полужесткую поверхность.
		#LOC_OPX-NP_SCI_Hargaladh_Sample = Странно... такое темное и мягкое. Возможно, свинцовая пыль.
		#LOC_OPX-NP_SCI_Chymere_Sample = Оставшуюся часть реголита покрывает пыльный слой толинов, хотя он также выглядит более или менее нетронутым.
		
		// Crew Report
		#LOC_OPX-NP_SCI_Neidon_Crew = Почему кольца отсюда выглядят такими яркими?
		#LOC_OPX-NP_SCI_Nito_Crew_Landed = Из окна виден край луны. И когда Тито проезжает мимо, это выглядит впечатляюще.
		#LOC_OPX-NP_SCI_Nito_Crew_Space = Полет сквозь кольца выглядит немного безумным, особенно на поверхности такой луны.
		#LOC_OPX-NP_SCI_Tito_Crew_Landed = За окном — невыносимо фиолетовый цвет. С другой стороны — просто черный.
		#LOC_OPX-NP_SCI_Tito_Crew_Space = Прямо сейчас вы смотрите на темную-темную луну. Странно, не правда ли?
		#LOC_OPX-NP_SCI_Hargaladh_Crew_Landed = У вас может закружиться голова, когда вы увидите, как эта маленькая луна кружится...
		#LOC_OPX-NP_SCI_Hargaladh_Crew_Space = Вы удивляетесь, как вы оказались на орбите такого маленького объекта.
		#LOC_OPX-NP_SCI_Chymere_Crew = Нейдон — сверкающий аметист в небе, а Тэтмо — его жемчужный спутник...
		
		// EVA Report
		#LOC_OPX-NP_SCI_Neidon_EVA = Кольца здесь выглядят потрясающе под такими углами...
		#LOC_OPX-NP_SCI_Nito_EVA_Landed = Боже мой, это прекрасно.
		#LOC_OPX-NP_SCI_Nito_EVA_Space = 
		#LOC_OPX-NP_SCI_Tito_EVA_Landed = Довольно интересно наблюдать яркость слева и справа от вас.
		#LOC_OPX-NP_SCI_Tito_EVA_Space = Он окружен кольцами и луной, расположенной немного внутри них... когда он проходит мимо, это просто ух ты.
		#LOC_OPX-NP_SCI_Hargaladh_EVA_Landed1 = Вы чувствуете желание прыгнуть в один из кратеров, но затем понимаете, что вместо этого можно прыгнуть на орбиту.
		#LOC_OPX-NP_SCI_Hargaladh_EVA_Landed2 = Нет разумного объяснения тому, насколько это должно быть ужасно.
		#LOC_OPX-NP_SCI_Hargaladh_EVA_Space = Луна почти сливается с пространством под ней — неудивительно, что мы так долго не могли туда добраться.
		#LOC_OPX-NP_SCI_Chymere_EVA = Снаружи создается ощущение, будто Кракен смотрит вам прямо в лицо.
		
		// Mystery Goo
		#LOC_OPX-NP_SCI_Nito_Goo_Landed = Слизь приняла форму октаэдра.
		#LOC_OPX-NP_SCI_Nito_Goo_Space = Слизь трескается и крошится.
		#LOC_OPX-NP_SCI_Tito_Goo_Landed = Слизь теперь имеет форму куба. Слюба, если можно так выразиться.
		#LOC_OPX-NP_SCI_Tito_Goo_Space = Теперь слизь становится немного гладенькой.
		#LOC_OPX-NP_SCI_Hargaladh_Goo_Landed = Слизь кипит, замерзает и тает одновременно. И вдобавок ионизируется.
		#LOC_OPX-NP_SCI_Hargaladh_Goo_Space = Слизь явно не в восторге от своего пребывания здесь и даже ведет себя пугливо.
		#LOC_OPX-NP_SCI_Chymere_Goo = 
		
		// Mobile Materials Lab
		#LOC_OPX-NP_SCI_Neidon_Lab = Изучая отражения колец, можно сделать вывод, что они состоят из окиси углерода и водяного льда.
		
		// Temperature
		#LOC_OPX-NP_SCI_Nito_Temp = Хотя сияние Нейдона, безусловно, несколько влияет на показания температуры, по ощущениям это место определенно холодное.
		#LOC_OPX-NP_SCI_Tito_Temp_Space = Хотя сияние Нейдона, безусловно, несколько влияет на показания температуры, по ощущениям это место определенно холодное.
		#LOC_OPX-NP_SCI_Tito_Temp_Landed = Темная поверхность сохраняет его немного более теплым, чем его близнеца, но, учитывая его удаленность от Солнца, это не оказывает большого влияния.
		#LOC_OPX-NP_SCI_Hargalagh_Temp = Это холодный, мертвый камень.
		#LOC_OPX-NP_SCI_Chymere_Temp = 
		
		// Barometer
		#LOC_OPX-NP_SCI_Nito_Bar = Единственная атмосфера вокруг — эстетическая красота.
		#LOC_OPX-NP_SCI_Tito_Bar = Никакого давления. Кроме стресса от пространства.
		#LOC_OPX-NP_SCI_Hargaladh_Bar = Еще раз, куда звонить в службу обслуживания номеров?
		#LOC_OPX-NP_SCI_Chymere_Bar_Space = Прибор показывает почти ноль. Как будто он находится в почти вакууме!
		#LOC_OPX-NP_SCI_Chymere_Bar_Landed = Похоже, что вблизи бассейнов собирается тонкая экзосфера, но больше ничего нет.
		
		// Gravity
		#LOC_OPX-NP_SCI_Nito_Grav_Space = Микрогравитация здесь ощутима. Здесь можно запросто зависнуть навечно.
		#LOC_OPX-NP_SCI_Nito_Grav_Landed = Его едва удерживает вместе прочность на разрыв внутри колец.
		#LOC_OPX-NP_SCI_Tito_Grav_Space = Гравитация небольшая, но есть. Хребет, похоже, подсказывает, почему.
		#LOC_OPX-NP_SCI_Tito_Grav_Landed = Странно, как хорошо все это держится... и в то же время нет.
		#LOC_OPX-NP_SCI_Hargaladh_Grav = Нейдон тянет ваш корабль сильнее, чем эта... штука.
		#LOC_OPX-NP_SCI_Chymere_Grav_SpaceH = Химера, по-видимому, плотнее, чем можно было бы предположить, судя по ее размерам... возможно, гигантское столкновение сорвало ее кору и оставило голую мантию.
		#LOC_OPX-NP_SCI_Chymere_Grav_SpaceL = Пролетая над чем-либо, можно заметить небольшие изменения в гравитационном поле, что говорит о том, что оно может быть не полностью дифференцированным.
		#LOC_OPX-NP_SCI_Chymere_Grav_Landed = Определенно ожидается высокая гравитация, хотя в таких масштабах неясно, насколько она могла бы сюда попасть.
		
		// Seismic
		#LOC_OPX-NP_SCI_Nito_Seis = Поскольку луна колеблется вверх и вниз на кольцах, она слегка растягивается, что может усугубиться, если ее резонанс с Тито не будет сохранен.
		#LOC_OPX-NP_SCI_Tito_Seis = При вращении луны вокруг своей оси ощущается небольшое напряжение, но не такое сильное, как у Нито.
		#LOC_OPX-NP_SCI_Hargaladh_Seis = Показания кажутся странными. Что-то там может быть, но это может быть просто крутящий момент от приливных сил Химеры и Нейдона, раскручивающий его.
		#LOC_OPX-NP_SCI_Chymere_Seis = Мир пока геологически кажется мертвым. Любые небольшие показания можно отнести к свету и тени на поверхности.
		
		// Magnetic
		#LOC_OPX-NP_SCI_Nito_Mag = Здесь нет магнетизма.
		#LOC_OPX-NP_SCI_Tito_Mag = Даже магнит с холодильника сильнее.
		#LOC_OPX-NP_SCI_Hargaladh_Mag_Space = Возможно, вы что-то здесь чувствуете, но не знаете, что именно.
		#LOC_OPX-NP_SCI_Hargaladh_Mag_Landed = Ого. Магнетизм здесь интенсивный. Должно быть, это какой-то фрагмент ядра, возможно, от Химера или Тэтмо.
		#LOC_OPX-NP_SCI_Chymere_Mag_Space = Едва уловимые намеки на магнитное поле пронизывают показания магнитометра. Возможно, там есть немного железа, распределенного по всему, что поддерживает его слегка теплым.
		#LOC_OPX-NP_SCI_Chymere_Mag_Landed = Магнетизм, по-видимому, больше концентрируется вблизи гигантского кратера, что позволяет предположить, что столкновение могло произойти относительно недавно и в нем содержалось много тяжелых металлов.
		
		// ResearchBodies
		#LOC_OPX-NP_RB_Neidon = Математики предсказали, что за орбитой Урлума должна быть другая планета, и мы только что нашли ее с помощью наших телескопов. Он фиолетовый, как Ева. Может быть, назвать его в честь Нейдона, спутника мифологической Евы?
		#LOC_OPX-NP_RB_Nito = 
		#LOC_OPX-NP_RB_Tito = 
		#LOC_OPX-NP_RB_Gawyn = 
		#LOC_OPX-NP_RB_Gryspar = 
		#LOC_OPX-NP_RB_Hargaladh =
		#LOC_OPX-NP_RB_Chymere =
		#LOC_OPX-NP_RB_Thatmo = Ранее мы думали, что это НЛО из-за его странной ретроградной орбиты, но оказалось, что это настоящий спутник Нейдона. Мы очень неравнодушны к имени Тэтмо.
		#LOC_OPX-NP_RB_Nissee = Прищурившись на очень маленькие точки в течение нескольких месяцев, мы обнаружили маленький спутник, вращающийся вокруг Нейдона на значительном расстоянии. 
		#LOC_OPX-NP_RB_Nyla =
		#LOC_OPX-NP_RB_Psei =
		#LOC_OPX-NP_RB_OuterPseudobodies = 

		// TarsierTech
		#LOC_OPX-NP_TT_Neidon = Другой ледяной гигант. Поразительно красивые голубые и фиолетовые цвета мерцают.
		#LOC_OPX-NP_TT_Nito =
		#LOC_OPX-NP_TT_Tito =
		#LOC_OPX-NP_TT_Gryspar =
		#LOC_OPX-NP_TT_Hargaladh =
		#LOC_OPX-NP_TT_Chymere =
		#LOC_OPX-NP_TT_Thatmo = Ледяная луна, у которой, судя по всему, очень тонкая атмосфера.
		#LOC_OPX-NP_TT_Nissee = Эта крошечная луна похожа на мрамор.
		#LOC_OPX-NP_TT_Nyla =
		#LOC_OPX-NP_TT_Psei = 
		
	}
}

